/* login.css */

/* Container styles */
.login-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 350px;
    text-align: center;
}

/* Logo styles */
.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 120px; /* Increased logo size */
    height: 120px; /* Increased logo size */
    border-radius: 50%;
}

.login-text {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

/* Form styles */
.login-form {
    display: flex;
    flex-direction: column;
}

.input-container {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

/* Options styles */
.options {
    margin-bottom: 10px;
    display: flex; /* Display options in a row */
    justify-content: center; /* Center options horizontally */
}

.options a {
    margin: 0 10px; /* Add space around options */
    text-decoration: none;
    color: #007bff;
    font-size: 14px; /* Adjust font size */
}

.options a:hover {
    text-decoration: underline;
}

/* Button styles */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
